.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .home-container h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .home-container p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .home-container img {
    width: 100%; /* This ensures the image width covers the container width */
    height: 100%; /* This ensures the image height covers the container height */
    object-fit: cover; /* This ensures the image covers the container while maintaining its aspect ratio */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  