<!-- booking-form.component.html -->
<button class="btn btn-primary" routerLink="/booking-list">View Bookings</button>
<form (ngSubmit)="saveBooking()">
  <table class="table">
    <tr>
      <td>
        <label for="bookingId">Booking ID:</label>
        <input type="text" id="bookingId" name="bookingId" [(ngModel)]="booking.bookingId" required>
      </td>
      <td >
        <label for="guestId">Guest</label>
        <select id="guestId"  name="guestId" [(ngModel)]="booking.guestId" required>
          <option value="" disabled selected>Select Guest</option>
          <option  *ngFor="let guest of guests" [value]="guest.guestId">{{ guest.guestId }} ({{ guest.name}})</option>
        </select>
      </td>
      <td>
        <label for="hotelId">Hotel</label>
        <select id="hotelId" name="hotelId" [(ngModel)]="booking.hotelId" required>
          <option value="" disabled selected>Select Hotel</option>
          <option *ngFor="let hotel of hotels" [value]="hotel.hotelId">{{ hotel.hotelId }}</option>
        </select>
      </td>
      <td>
        <label for="bookingId">Number Of Guest:</label>
        <input type="number" id="numberOfGuest" name="numberOfGuest" [(ngModel)]="booking.numberOfGuest" required>
      </td>
      <td>
        <label for="checkIn">Check-in Date:</label>
        <input type="date" id="checkIn" name="checkIn" [(ngModel)]="booking.checkIn" required>
      </td>
      <td>
        <label for="checkOut">Check-out Date:</label>
        <input type="date" id="checkOut" name="checkOut" [(ngModel)]="booking.checkOut" required>
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit" class="btn btn-primary"> Book</button>
      </td>
    </tr>
  </table>
</form>
